.gallery{
    
 
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;

  .mainBanner {
    position: relative;
    height: 223px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      filter: brightness(0.7);
    }

    h1 {
      
      position: absolute;
      color: white;
      font-size: clamp(24px,13rem, 48px);
    }
  }

  .cards-container{
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2vw;
    margin-top: 2%;
    margin-bottom: 2.5%;
    gap: 60px;

    a {
      width: 21vw;
      
      
      .card {
        position: relative;
        width: 21vw;
        aspect-ratio: 1/1;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          position: absolute;
          height: 100%;
        }

        h2 {
          position: absolute;
          margin: 0;
          padding: 5%;
          padding-top: 20%;
          z-index: 1;
          width: 90%;
          color: white;
          font-size: 1rem;
          bottom: 0;
          background-image: linear-gradient(to bottom, transparent, #1616169f);
        }
      }
    }
  }
}

/****** TABLET ******/
@media (min-width: 768px) and (max-width: 1024px){
  .gallery{
    .mainBanner{
      width: 86%;
      height: 15vh;
      border-radius: 15px;
      justify-content: flex-start;

      h1{
        width: 60%;
        margin-left: 5%;
        
      }
    }
    .cards-container{
      background-color: transparent;
      width: 90%;
      padding: 0;
      margin-top: 5%;
      justify-content: center;

      a{
        margin: 0;
        width: 45%;
        aspect-ratio: 1/0.8;
        margin: 2.5%;
        margin-bottom: 2.5%;

        .card{
          height: 100%;
          width: 100%;
          border-radius: 15px;

          h2{
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}
/****** MOBILE ******/
@media (max-width: 768px){
  .gallery{
    width: 100%;
    .mainBanner{
      width: 90%;
      height: 111px;
      border-radius: 10px;
      justify-content: flex-start;

      h1{
        font-size: 1.3rem;
        width: 60%;
        margin-left: 4%;
        line-height: 3vh;
      }
    }
    .cards-container{
      background-color: transparent;
      width: 90%;
      padding: 0;
      margin-top: 5%;
      justify-content: center;
      gap: initial;

      a{
        margin: 0;
        width: 100%;
        aspect-ratio: 1/0.8;
        margin-bottom: 5%;

        .card{
          height: 100%;
          width: 100%;

          h2{
            font-size: 18px;
          }
        }
      }
    }
  }
}
