body {
  width: 89vw;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  

  #root {
    
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;

    header {
      margin: 0;
      padding: 0;
      width: 90%;
      height: 13vh;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      img {
        height: 60%;
      }

      nav {
        width: 17%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: black;
          font-size: 1.2vw;
        }

        .active-link {
          text-decoration: underline;
        }
      }
    }

    footer {
      margin: 0;
      padding: 0;
      height: 20vh;
      width: 100vw;
      background-color: black;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;

      img {
        filter: brightness(0) invert(1);
        width: 8%;
        margin-top: 2%;
      }

      p {
        color: white;
        font-size: 1.3vw;
      }
    }
  }
}

/****** MOBILE ******/
@media (max-width: 768px) {
body {
  #root {
    header {
      width: 90%;
      height: 8vh;

      img {
        width: auto;
      }

      nav {
        width: 45%;
        a{
          font-size: 3.5vw;
          text-transform: uppercase;
        }
      }
    }

    footer {
      height: 25vh;
      justify-content: center;
      img{
        width: 30%;
      }
      p{
        text-align: center;
        width: 30%;
        font-size: 3.5vw;
      }
    }
  }
}
}
/****** TABLET ******/
@media (min-width: 768px) and (max-width: 1024px) {
body {
  #root {
    header {
      width: 85%;
      height: 8vh;

      img {
        width: auto;
      }

      nav {
        width: 35%;
        a{
          font-size: 2.5vw;
          text-transform: uppercase;
        }
      }
    }

    footer {
      height: 20vh;
      justify-content: center;
      img{
        width: 25%;
      }
      p{
        text-align: center;
        width: 30%;
        font-size: 3vw;
      }
    }
  }
}
}

